.header {
  display: flex;
  justify-content: space-between;
  &__news-category_box {
    display: flex;
    margin-left: 1.3em;
    a {
      display: inline-block;
      &:nth-child(n + 2) {
        margin-left: 1em;
      }
    }
    .header__news-date {
      margin-left: 1em;
    }
  }
  &__news-list {
    margin-top: 1em;
    a {
      color: inherit;
    }
    .header__news-item {
      & img {
        width: 1em;
        height: 1em;
        margin-right: .5em;
      }
      &:nth-child(n + 2) {
        margin-top: 1em;
      }
    }
  }
  .rate {
    margin-top: 1em;
    display: flex;
    margin-left: 1.3em;
    &__item {
      font-weight: 900;
      &:nth-child(n + 2) {
        margin-left: 1.5em;
      }
    }
  }
  .adblock {
    margin: 2em 0 0 2em;
    a {
      color: inherit;
    }
    &__img {
      display: block;
      width: 6.5em;
      height: 6.5em;
      border-radius: 50%;
      margin-bottom: 1em;
    }
    &__text {
      margin-top: 1em;
    }
  }
}